:root {
    /* Size variables */
    --size-xs: 0.25rem;
    --size-sm: 0.5rem;
    --size-md: 0.75rem;
    --size-lg: 1rem;
    --size-xl: 1.25rem;
    --size-2xl: 1.5rem;
    --size-3xl: 2rem;
    --size-4xl: 2.5rem;
    --size-5xl: 3rem;
    --size-6xl: 4rem;

    /* Font-specific sizes */
    --font-size-xs: 0.75rem;
    --font-size-sm: 0.875rem;
    --font-size-md: 1rem;
    --font-size-lg: 1.125rem;
    --font-size-xl: 1.3125rem;
    --font-size-2xl: 1.5rem;
    --font-size-3xl: 2.625rem;
    --font-size-4xl: 4rem;

    /* Font weights */
    --font-weight-light: 300;
    --font-weight-normal: 400;
    --font-weight-bold: 700;

    /* Colors */
    --color-text: #111;
    --color-background: #FBFBFB;
    --color-border: #DDD;
}

/* Main layout */
body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: var(--color-background);
  color: var(--color-text);
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

/* Main content block */
main {
  text-align: center;
  padding: var(--size-3xl);
  max-width: 700px;
}

#quote {
  font-size: var(--font-size-3xl);
  font-weight: var(--font-weight-light);
  margin-bottom: var(--size-2xl);
}

#quote > strong {
    font-weight: var(--font-weight-bold);
}

.source-container {
  text-align: right;
}

#title {
  font-style: italic;
  font-size: var(--font-size-lg);
}

#author {
  font-size: var(--font-size-md);
}

#lang-selector-container {
    position: absolute;
    top: var(--size-3xl);
    right: var(--size-3xl);
}

#lang-selector {
  font-family: inherit;
  font-size: var(--font-size-md);
  padding: var(--size-sm);
  border: 1px solid var(--color-border);
  border-radius: var(--size-xs);
  background-color: var(--color-background);
  color: var(--color-text);
}
